html {
    font-family: Helvetica, sans-serif;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #444444;
}

body {
    margin-top: 20px;
}

h1 {
    color: #eeeeee;
    margin: 10px auto 10px;
    font-size: 110%;
}

h3 {
    color: #eeeeee;
    margin: 0 auto 10px auto;
    font-size: 25px
}

p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.button {
    display: block;
    width: 85px;
    background-color: #34495e;
    border: none;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 22 px;
    margin: 0px auto 9px;
    cursor: pointer;
    border-radius: 12px;
}

.buttonactive {
    background-color: #3498db;
}

.col {
    float: left;
    width: 33%;
    margin: 0px auto;
}

.row {
    float: left;
    width: 100%;
    margin: 0px auto;
}

.row .button {
    width: 80%;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;
}
#overlay h3 {
    margin: 100px auto 30px;
    color: red;
}
#overlay p {
    color: white;
}